<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add New Category</h2>
</div>

<form action="/add-post" method="POST">

    <label for="title"><b>Category title</b></label>
    <input type="text" placeholder="Post Title" name="title">

    <input type="submit" value="Add" class="btn">

</form>