<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> EnlightenMe • Built with ❤️
    <div>
        <a href="www.linkedin.com/in/agrsaket">
            <img src="/img/linkedin2.png" alt="linkedin">
        </a>
        <a href="https://github.com/agrSaket">
            <img src="/img/github.png" alt="github">
        </a>
    </div>
</footer>