<h1>Category</h1>

<div class="category">
    <a href="">Technology</a>
    <a href="">Travel</a>
    <a href="">Food</a>
    <a href="">Fashion</a>
    <a href="">Health and Wellness</a>
    <a href="">Lifestyle</a>
    <a href="">Finance</a>
    <a href="">Business</a>
    <a href="">Parenting</a>
    <a href="">DIY and Crafts</a>
    <a href="">Sports</a>
    <a href="">Entertainment</a>
    <a href="">Education</a>
    <a href="">Personal Finance</a>
    <a href="">Book Reviews</a>
</div>
