<h1>Category</h1>

<div class="category">
    <a href="/categoryPage?name=Technology">Technology</a>
    <a href="/categoryPage?name=Travel">Travel</a>
    <a href="/categoryPage?name=Food">Food</a>
    <a href="/categoryPage?name=Fashion">Fashion</a>
    <a href="/categoryPage?name=Health and Wellness">Health and Wellness</a>
    <a href="/categoryPage?name=Lifestyle">Lifestyle</a>
    <a href="/categoryPage?name=Finance">Finance</a>
    <a href="/categoryPage?name=Business">Business</a>
    <a href="/categoryPage?name=Parenting">Parenting</a>
    <a href="/categoryPage?name=DIY and Crafts">DIY and Crafts</a>
    <a href="/categoryPage?name=Sports">Sports</a>
    <a href="/categoryPage?name=Entertainment">Entertainment</a>
    <a href="/categoryPage?name=Education">Education</a>
    <a href="/categoryPage?name=Personal Finance">Personal Finance</a>
    <a href="/categoryPage?name=Book Reviews">Book Reviews</a>
</div>
